@charset "utf-8";

/* 더보기 페이지 본문 영역 */
#room_category_wrap {
    margin: 10px auto;
    width: 1024px;
}

/* 상단 숙소 고정란 */
.top_more_wrap {
    background-color: #f7323f;
    height: 150px;
}
.top_more_wrap > div {
    width: 1024px;
    margin: 0 auto;
}
.top_more_wrap > div > h2 {
    margin-top: 70px;
    margin-left: 5px;
    font-size: 38px;
    font-weight: normal;
    color: white;
    padding-top: 20px;
    letter-spacing: -3px;
}.top_more_wrap > div > p {
    margin-top: 30px;
    margin-left: 8px;
    font-weight: bold;
    color: white;
}
.top_more_wrap > div > p > span {
    font-weight: normal;
    font-size: 13px;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.08);
    padding: 6px;
    letter-spacing: -1px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
}
/* // 상단 숙소 고정란 */

/* 숙소별 카테고리 선택 영역 */
.room_category_title {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-left: 25px;
}
.room_category_title > p {
    display: inline-block;
    padding: 15px 10px 10px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.room_category_title > p > a {
    padding: 15px 10px;
}
.room_category_title > p:nth-child(1) > a {
    padding-left: 0;
}
/* // 숙소별 카테고리 선택 영역 */


.category_info_area {
    margin-top: 40px;
}

/* 좌측 상세조건 창 영역 */
label {
    color: rgba(0,0,0,0.56);
}
input[type="checkbox"]{

    width: 20px; /*Desired width*/
    
    height: 20px; /*Desired height*/
}

.left_menu {
    padding-right: 20px;
    padding-left: 25px;
}
.left_menu_inner {
    padding: 25px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
}

/* 날짜 */
.days {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.days > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 상세조건 */
.condition {
    margin: 30px 0;
}
.condition > p:nth-child(1) {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.condition > p:nth-child(2) > button {
    width: 119px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
.condition > p:nth-child(2) > button:nth-child(1) {
    background-color: white;
    border: 1px solid rgb(242, 7, 76);
    color: rgb(242, 7, 76);
}
.condition > p:nth-child(2) > button:nth-child(2) {
    background-color: rgb(242, 7, 76);
    color: white;
}
/* // 상세조건 */

/* 거리 범위 */
.range > p {
    color: rgba(0,0,0,0.56);
    font-weight: bold;
    margin-bottom: 15px;
}
.range li {
    font-size: 14px;
    width: 120px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}
.range li > input {
    border-radius: 50%;
    border: 1px solid black;
}
.range li > label {
    margin-left: 5px;
}
/* //거리 범위 */
/* // 좌측 상세조건 창 영역 */


/* 우측 숙소 리스트*/
.right_menu {
    padding-right: 0;
}

.sort {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.08);
    background-color: rgba(250,250,250,0.6);
    font-size: 15px;
    letter-spacing: -1px;
}
.sort > div {
    padding: 0;
}
.distance_sort, .low_sort {
    border-right: 1px solid rgba(0,0,0,0.08);
}

.top_recommend {
    margin: 25px 0 10px;
}
.top_recommend > p:nth-child(1) {
    color: rgba(0,0,0,0.56);
    font-weight: bold;
    display: inline-block;
}
.top_recommend > p:nth-child(2) {
    float: right;
    text-align: right;
    color: rgba(0,0,0,0.56);
}
.top_recommend > p:nth-child(2) > img {
    width: 20px;
    position: relative;
    top: -2px;
}

.room_infos {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.room_infos > div {
    padding: 15px 0;
}
.room_img {
    display: inline-block;
    width: 152px;
    height: 246px;
    position: relative;
    overflow: hidden;
}
.room_img > img {
    height: 246px;
    position: absolute;
    left: -99%;
}
.room_title_info {
    float: right;
    width: 500px;
    height: 246px;
}
.room_title_info > h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.room_title_info > p:nth-child(2) {
    color: rgb(255,167,38);
    margin-bottom: 5px;
}
.room_title_info > p:nth-child(2) > span:nth-child(1) {
    background-color: rgb(255,167,38);
    color: white;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 5px;
}
.room_title_info > p:nth-child(2) > span:nth-child(2) {
    font-weight: bold;
}
.room_title_info > p:nth-child(3) {
    margin-bottom: 5px;
}
.room_title_info > p:nth-child(4) {
    color: rgba(0,0,0,0.56);
    margin-bottom: 5px;
}
.room_title_info > div {
    position: absolute;
    right: 0;
    bottom: 20px;
}
.room_title_info > div > p {
    font-size: 18px;
    color: rgba(0,0,0,0.72);
}
.room_title_info > div > p:nth-child(1) {
    margin-bottom: 3px;
}
.room_title_info > div > p > span:nth-child(1) {
    background-color: #F8716F;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 1px 3px;
}
.room_title_info > div > p > span:nth-child(2) {
    font-weight: bold;
    color: black;
}

.room_info_area > div:nth-child(2) {
    margin: 25px 0 10px;
    color: rgba(0,0,0,0.56);
    font-weight: bold;
    font-size: 17px;
}

/* // 우측 숙소 리스트*/